*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 14px;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.list-body {
    background: #42a5f5;
    width: 350px;
    color: white;
    border-radius: 1em;
    padding: 1em;
    margin: 10px;
}


input[type='text'] {
    font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    margin: 15px 0;
    border: 1px solid white;
    border-radius: 2rem;
    margin: 10px 0;
    padding: 5px;
    width: 100%;

}

input[type='text']::placeholder {
    color: #212529;
    opacity: 0.4;
}

input[type='text']:focus {
    color: #212529;
    background-color: #fff;

    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 25%);

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    border: 1px solid white;
    border-radius: 2rem;
    font-size: 16px;
    margin: 10px 0;
    padding: 5px;
}

input[type='checkbox']:checked::after {
    display: block;
}

.real-checkbox:checked+.custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.real-checkbox:focus+.custom-checkbox {
    box-shadow: 0 0 0 1px #38577a, 0 0 10px #7e9bbd;
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #7e9bbd;
    border-radius: 4px;
    vertical-align: sub;
    margin-right: 10px;
    position: relative;
}

.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.3 15L15 1.2 13.7 0 5.1 12.3 1.1 8 0 9.4 5.3 15z' fill='%23005bff'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
    margin-top: -2px;
}

li a {
    float: right;
    margin: 0 5px 0 1px;
    text-decoration: none;
    text-align: center;
    line-height: 21px;

}

.need-list li {
    background: transparent;

}

h1 {
    text-align: center;
}

.input-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.input-box {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.btn-need {
    background: #51A3B8;
    font-size: 14px;
    color: white;
    border-radius: 2rem;
    box-shadow: 0 2px 0px #387796;
    display: inline-block;
    transition: all .2s;
    position: relative;
    padding: 10px 15px;
    position: relative;
    top: 0;
    cursor: pointer;
    margin: 0 20px;
}

.btn-need:active {
    top: 3px;
    box-shadow: 0 0px 0px #387796;
    transition: all .1s;
}

.btn-have {
    background: #7986cb;
    font-size: 14px;
    color: white;
    border-radius: 2rem;
    box-shadow: 0 2px 0px #3f51b5;
    display: inline-block;
    transition: all .2s;
    position: relative;
    padding: 10px 15px;
    position: relative;
    top: 0;
    cursor: pointer;
    margin: 0 20px;
}

.btn-have:active {
    top: 3px;
    box-shadow: 0 0px 0px #3f51b5;
    transition: all .1s;
}